html, body {
    height: 100%;
    margin: 0rem;
}

.slider-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 30vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-wrap: wrap;
}

.slides {
    display: flex;
    overflow-x: hidden;
    position: relative;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slide {
    height: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    box-sizing: border-box;
    transform: scale(1);
}

.slide img {
    height: auto;
    width: 30vw;
}

.slider-navlink {
    display: inline-block;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    background-color: rgb(50, 50, 50);
}

.slider-navlink:hover {
    background-color: rgb(120, 120, 120);
}
